body {
  background-color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.row {
  display: flex;
  flex-direction: row;
}

.cell {
  --size: 0.15vw;
  width: var(--size);
  height: var(--size);
  max-width: 30px;
  max-height: 30px;
  min-width: 15px;
  min-height: 15px;
  margin: 3px;
}

.cell.empty {
  background-color: rgb(92, 92, 92);
}
.cell.snake {
  background-color: rgb(88, 160, 55);
  box-shadow: 0 0 max(30px, 0.15vw) rgba(255, 255, 0, 0.473);
}
.cell.food {
  background-color: rgb(163, 75, 63);
}

.lost-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  flex-direction: column;
}

.lost-header .lost-heading {
  color: white;
  margin: 10px;
}

button {
  background-color: #4d4d4d;
  padding: 10px;
  width: 130px;
  color: white;
  border-radius: 0;
  outline: none;
  border: none;
  cursor: pointer;
}
